.news {
  height: 100%;
  width: 100%;
}
.news_content {
  display: flex;
}
.news_search {
  margin-left: 20px;
}
.news_table {
  margin-top: 20px;
}
.btnDlt {
  border: none;
  background: none;
}
.btnEdit {
  border: none;
  background: none;
}
.btnEdit:hover {
  cursor: pointer;
  transform: scale(1.3);
  color: white;
}
.btnDlt:hover{
  cursor: pointer;
  transform: scale(1.3);
  color: white;

}

.content {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: #40a9ff !important;
  cursor: pointer;
}


.CardGrids{
  display: inline-block;
  grid-template-columns: 350px 350px 350px;
  flex-wrap: wrap;
  flex: 10px;
  margin: 15px;



}
.CardStyle{
  display: flex;
  justify-content: space-evenly;

}

.TitleLinkto:hover{
  color: white;

  font-size: 15px;
}
.TitleLinkto{
  color: black;
}