.p1{
    background-color: #bae0ff;
    height: 40px;
    margin: 0px;
    padding: 5px;
    vertical-align: middle;
    line-height:35px;
    display: flex;

}
.p2{
    background-color: #91caff;
    margin: 0px;
    height: 40px;
    margin: 0px;
    padding: 5px;
    vertical-align: middle;
    line-height:35px;
    display: flex;
}
    